<a href="https://colab.research.google.com/github/charlesochanda/Python_Week_4_Project/blob/master/Moringa_Data_Science_Prep_Week_4_Independent_Project_2019_07_Charles_Ochanda_Python_Notebook.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Project Week 4: Processing the dataset for an electric car-sharing service company to understand electric car usage over time

# 1.1 Importing python Libraries

In [0]:
# Importing the libraries we will need for this project

import pandas as pd

import numpy as np

from datetime import datetime

# 1.2 Reading the Dataset from our CSV file

In [3]:
# Dataset url = http://bit.ly/Autolibdataset (Links to an external site.)]
# 
car = pd.read_csv('http://bit.ly/Autolibdataset') 
car.head()

   Unnamed: 0                     Address  Cars  ...  day  hour  minute
0           0              24 Rue Vulpian     3  ...    1     0       0
1           1  8 Boulevard Richard Lenoir     0  ...    1     0       0
2           2        4 Rue Charles Bossut     3  ...    1     0       0
3           3   3 avenue Claude Vellefaux     4  ...    1     0       0
4           4      236 Boulevard Voltaire     1  ...    1     0       0

[5 rows x 26 columns]

# 1.3 Previewing our Dataset

In [4]:
# previewing the first ten rows of our dataset

car.head(10)

   Unnamed: 0                             Address  Cars  ...  day  hour  minute
0           0                      24 Rue Vulpian     3  ...    1     0       0
1           1          8 Boulevard Richard Lenoir     0  ...    1     0       0
2           2                4 Rue Charles Bossut     3  ...    1     0       0
3           3           3 avenue Claude Vellefaux     4  ...    1     0       0
4           4              236 Boulevard Voltaire     1  ...    1     0       0
5           5        44 Rue des Pirogues de Bercy     1  ...    1     0       0
6           6         63 Boulevard Richard Lenoir     1  ...    1     0       0
7           7                   43 Rue de Monceau     0  ...    1     0       0
8           8  10 Avenue du Docteur Arnold Netter     4  ...    1     0       0
9           9      33 Avenue Pierre 1er de Serbie     2  ...    1     0       0

[10 rows x 26 columns]

In [5]:
car.tail()

          Unnamed: 0                           Address  Cars  ...  day  hour  minute
14421824         880               2 rue Paul CÃ©zanne     2  ...    9    23      59
14421825         950               8 rue Louise Michel     3  ...    9    23      59
14421826         996           3 rue Olivier de Serres     5  ...    9    23      59
14421827        1010  11 avenue du GÃ©nÃ©ral De Gaulle     0  ...    9    23      59
14421828        1072             1 rue AndrÃ© Theuriet     1  ...    9    23      59

[5 rows x 26 columns]

# 1.4 Accessing Information about our Dataset

In [6]:
# Getting to know more about the dataset by accessing its information

car.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14421829 entries, 0 to 14421828
Data columns (total 26 columns):
Unnamed: 0             int64
Address                object
Cars                   int64
Bluecar counter        int64
Utilib counter         int64
Utilib 1.4 counter     int64
Charge Slots           int64
Charging Status        object
City                   object
Displayed comment      object
ID                     object
Kind                   object
Geo point              object
Postal code            int64
Public name            object
Rental status          object
Scheduled at           object
Slots                  int64
Station type           object
Status                 object
Subscription status    object
year                   int64
month                  int64
day                    int64
hour                   int64
minute                 int64
dtypes: int64(13), object(13)
memory usage: 2.8+ GB

# 1.5 Cleaning our Dataset

## 1.5.1 Validity

In [7]:
# Procedure 1: Irrelevant Observation
# Data Cleaning Action: Dropping columns 
# Explanation:We do not need them or they do not in fit the context of the problem

car.drop(['Unnamed: 0', 'Displayed comment', 'ID', 'Geo point','Address', 'Cars'], axis = 1, inplace = True)
car

          Bluecar counter  Utilib counter  ...  hour  minute
0                       3               1  ...     0       0
1                       0               0  ...     0       0
2                       3               0  ...     0       0
3                       4               0  ...     0       0
4                       1               0  ...     0       0
5                       1               0  ...     0       0
6                       1               0  ...     0       0
7                       0               0  ...     0       0
8                       4               0  ...     0       0
9                       2               0  ...     0       0
10                      3               0  ...     0       0
11                      2               0  ...     0       0
12                      0               0  ...     0       0
13                      4               0  ...     0       0
14                      1               0  ...     0       0
15                      1               1  ...     0       0
16                      0               0  ...     0       0
17                      1               0  ...     0       0
18                      1               1  ...     0       0
19                      1               0  ...     0       0
20                      1               0  ...     0       0
21                      5               0  ...     0       0
22                      0               0  ...     0       0
23                      0               0  ...     0       0
24                      2               0  ...     0       0
25                      2               0  ...     0       0
26                      2               0  ...     0       0
27                      3               0  ...     0       0
28                      0               0  ...     0       0
29                      1               0  ...     0       0
...                   ...             ...  ...   ...     ...
14421799                0               0  ...    23      59
14421800                3               1  ...    23      59
14421801                3               0  ...    23      59
14421802                3               0  ...    23      59
14421803                7               0  ...    23      59
14421804                3               0  ...    23      59
14421805                2               0  ...    23      59
14421806                0               0  ...    23      59
14421807                5               0  ...    23      59
14421808                5               0  ...    23      59
14421809                0               0  ...    23      59
14421810                0               0  ...    23      59
14421811                4               0  ...    23      59
14421812                6               0  ...    23      59
14421813                2               0  ...    23      59
14421814                0               0  ...    23      59
14421815                5               0  ...    23      59
14421816                3               0  ...    23      59
14421817                3               0  ...    23      59
14421818                5               0  ...    23      59
14421819                0               0  ...    23      59
14421820                0               0  ...    23      59
14421821                0               0  ...    23      59
14421822                0               0  ...    23      59
14421823                5               0  ...    23      59
14421824                2               0  ...    23      59
14421825                3               0  ...    23      59
14421826                5               0  ...    23      59
14421827                0               0  ...    23      59
14421828                1               0  ...    23      59

[14421829 rows x 20 columns]

In [8]:
# Procedure 2: Outliers
# Data Cleaning Action: checking for outliers using IQR Scores
# Explanation:


Q1 = car.quantile(0.25)
Q3 = car.quantile(0.75)

IQR = Q3 - Q1


(car < (Q1 - 1.5 * IQR)) |(car > (Q3 + 1.5 * IQR))

          Bluecar counter  Charge Slots  Charging Status  ...  minute  month   year
0                   False          True            False  ...   False  False  False
1                   False          True            False  ...   False  False  False
2                   False          True            False  ...   False  False  False
3                   False         False            False  ...   False  False  False
4                   False          True            False  ...   False  False  False
5                   False          True            False  ...   False  False  False
6                   False          True            False  ...   False  False  False
7                   False          True            False  ...   False  False  False
8                   False         False            False  ...   False  False  False
9                   False          True            False  ...   False  False  False
10                  False         False            False  ...   False  False  False
11                  False         False            False  ...   False  False  False
12                  False          True            False  ...   False  False  False
13                  False          True            False  ...   False  False  False
14                  False          True            False  ...   False  False  False
15                  False          True            False  ...   False  False  False
16                  False         False            False  ...   False  False  False
17                  False          True            False  ...   False  False  False
18                  False          True            False  ...   False  False  False
19                  False         False            False  ...   False  False  False
20                  False         False            False  ...   False  False  False
21                  False         False            False  ...   False  False  False
22                  False         False            False  ...   False  False  False
23                  False         False            False  ...   False  False  False
24                  False         False            False  ...   False  False  False
25                  False          True            False  ...   False  False  False
26                  False         False            False  ...   False  False  False
27                  False         False            False  ...   False  False  False
28                  False         False            False  ...   False  False  False
29                  False          True            False  ...   False  False  False
...                   ...           ...              ...  ...     ...    ...    ...
14421799            False         False            False  ...   False  False  False
14421800            False         False            False  ...   False  False  False
14421801            False         False            False  ...   False  False  False
14421802            False         False            False  ...   False  False  False
14421803            False         False            False  ...   False  False  False
14421804            False         False            False  ...   False  False  False
14421805            False         False            False  ...   False  False  False
14421806            False         False            False  ...   False  False  False
14421807            False         False            False  ...   False  False  False
14421808            False         False            False  ...   False  False  False
14421809            False         False            False  ...   False  False  False
14421810            False         False            False  ...   False  False  False
14421811            False         False            False  ...   False  False  False
14421812            False         False            False  ...   False  False  False
14421813            False         False            False  ...   False  False  False
14421814            False         False            False  ...   False  False  False
14421815            False         False            False  ...   False  False  False
14421816            False         False            False  ...   False  False  False
14421817            False         False            False  ...   False  False  False
14421818            False         False            False  ...   False  False  False
14421819            False         False            False  ...   False  False  False
14421820            False         False            False  ...   False  False  False
14421821            False          True            False  ...   False  False  False
14421822            False          True            False  ...   False  False  False
14421823            False         False            False  ...   False  False  False
14421824            False         False            False  ...   False  False  False
14421825            False         False            False  ...   False  False  False
14421826            False         False            False  ...   False  False  False
14421827            False         False            False  ...   False  False  False
14421828            False         False            False  ...   False  False  False

[14421829 rows x 20 columns]

In [0]:
# Procedure 1: None
# Data Cleaning Action:None
# Explanation:None

## 1.5.3 Completeness

In [9]:
# Procedure 1: Missing values
# Data Cleaning Action:
# Explanation:Checking for missing values in each column
car.isnull().any()

Bluecar counter        False
Utilib counter         False
Utilib 1.4 counter     False
Charge Slots           False
Charging Status        False
City                   False
Kind                   False
Postal code            False
Public name            False
Rental status          False
Scheduled at            True
Slots                  False
Station type           False
Status                 False
Subscription status    False
year                   False
month                  False
day                    False
hour                   False
minute                 False
dtype: bool

In [10]:
# Total count of the missing values
car.isnull().sum().sum()

14310213

## 1.5.4 Consistency

In [11]:
# Procedure 1: Duplicates
# Data Cleaning Action: Drop/remove the duplicates
# Explanation: They are repetitions in our dataset


car[car.duplicated()]


# dropping the duplicates

car_1 = car.drop_duplicates()
 
# checking non duplicates

car_1.head()

   Bluecar counter  Utilib counter  Utilib 1.4 counter  ...  day hour minute
0                3               1                   0  ...    1    0      0
1                0               0                   0  ...    1    0      0
2                3               0                   0  ...    1    0      0
3                4               0                   0  ...    1    0      0
4                1               0                   0  ...    1    0      0

[5 rows x 20 columns]

## 1.5.5 Uniformity

In [0]:
# Procedure 1: Na
# Data Cleaning:Na
# Explanation:Na

In [0]:
# Hint:

# To compute usage, we will need to understand we have to join successive 

# (in time) measures/counters for a given station, as the difference will tell whether a car was picked up, returned, or nothing happened.

In [12]:
# Creating a new column where we find the difference in the number of bluecars at the station/counter

car_1['Bluecar_Diff'] = car_1['Bluecar counter'].diff()
car_1.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   Bluecar counter  Utilib counter  ...  minute  Bluecar_Diff
0                3               1  ...       0           NaN
1                0               0  ...       0          -3.0
2                3               0  ...       0           3.0
3                4               0  ...       0           1.0
4                1               0  ...       0          -3.0

[5 rows x 21 columns]

# 1.6 Answering Research Questions

## 1.6.1 Bluecar counter

In [13]:
# Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018

# positive value mean a car was returned

# Negative value means a car was taken

# select city == Paris

car_paris = car_1[car_1['City'] =='Paris'] 

car_paris.head()

   Bluecar counter  Utilib counter  ...  minute  Bluecar_Diff
0                3               1  ...       0           NaN
1                0               0  ...       0          -3.0
2                3               0  ...       0           3.0
3                4               0  ...       0           1.0
4                1               0  ...       0          -3.0

[5 rows x 21 columns]

In [14]:
# Q1

# Identify the most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018

car_paris[car_paris['Bluecar_Diff'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
4     148287
3     148169
7     147936
2     147698
6     147608
5     147367
8     147046
9     147025
10    146956
14    145705
11    145571
16    142779
13    142326
15    142058
21    142057
12    141789
20    140798
17    140484
18    139608
22    138991
19    137904
1     130086
0     129408
23    126666
Name: hour, dtype: int64

In [15]:
# Q2

# What is the most popular hour for returning cars?

car_paris[car_paris['Bluecar_Diff'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
21    123791
22    118844
20    118759
10    117925
11    116598
9     116447
19    115832
8     115485
18    115480
7     115202
15    114853
6     114745
17    114526
13    113998
16    113869
14    113827
12    113303
5     112676
2     110811
4     110694
3     110204
23    104766
0     103514
1     102679
Name: hour, dtype: int64

In [16]:

# Q3

# What station is the most popular?

  # Overall?

car_paris[(car_paris['Kind'] == 'STATION') & (car_paris['Status'] == 'ok')].groupby('Public name')['Public name'].count().sort_values(ascending= False)

Public name
Paris/25 AoÃ»t 1944/8              12761
Paris/Duhesme/113                  12761
Paris/Murat/98                     12761
Paris/MÃ©nilmontant/122            12761
Paris/MÃ©nilmontant/30             12761
Paris/Nation/26                    12761
Paris/Nationale/77                 12761
Paris/Courcelles/69                12761
Paris/Nicolas Taunay/7             12761
Paris/Niel/28                      12761
Paris/Courcelles/188               12761
Paris/Notre-Dame des Champs/39     12761
Paris/Cotentin/29                  12761
Paris/Convention/75                12761
Paris/Convention/171               12761
Paris/Ordener/1                    12761
Paris/Constantinople/4             12761
Paris/Murat/1                      12761
Paris/Mozart/2                     12761
Paris/Mozart/101                   12761
Paris/Dante/1                      12761
Paris/Delessert/23                 12761
Paris/David d'Angers/54            12761
Paris/Darmesteter/12               12761
Paris/Metz/6                       12761
Paris/Meurthe/1                    12761
Paris/Dantzig/80                   12761
Paris/Molitor/16                   12761
Paris/Croix des Petits Champs/4    12761
Paris/Monceau/43                   12761
                                   ...
Paris/Adolphe Mille/8              12619
Paris/LinnÃ©/18                    12591
Paris/Paul PainlevÃ©/7             12582
Paris/Manin/159                    12581
Paris/Turgot/4                     12562
Paris/Championnet/28               12546
Paris/Bac/142                      12531
Paris/Boulard/1                    12487
Paris/Temple/36                    12481
Paris/Galvani/25                   12467
Paris/Messine/12                   12402
Paris/Amiral Coligny/2             12390
Paris/Navier/1                     12351
Paris/PÃ©guy/2                     12244
Paris/Tolbiac/41                   12190
Paris/Eaux/2                       12173
Paris/Finlay/43                    12044
Paris/Monge/99                     11732
Paris/ChÃ¢teau Landon/52           11682
Paris/La Fayette/143               11381
Paris/Rocroy/15                    11378
Paris/Faubourg-Saint-Martin/168    11352
Paris/Caulaincourt/17              11320
Paris/Londres/6                    11279
Paris/Sibour/2                     11167
Paris/Capitaine Ferber/5           10746
Paris/Courcelles/210                8994
Paris/Gambetta/65                   8510
Paris/Saint-HonorÃ©/91              7741
Paris/Roquette/162                  4133
Name: Public name, Length: 525, dtype: int64

In [17]:

# Q4

# What station is the most popular? At the most popular picking hour?
  
car_paris[(car_paris['Kind'] == 'STATION') & (car_paris['Status'] == 'ok') & (car_paris['hour'] == 4)].groupby('Public name')['Public name'].count().sort_values(ascending= False)

Public name
Paris/Ãvangile/45                 540
Paris/Henard/3                     540
Paris/Friedland/42                 540
Paris/Frigos/24                    540
Paris/Froidevaux/71                540
Paris/FrÃ©dÃ©ric LoliÃ©e/5         540
Paris/FrÃ©dÃ©rick LemaÃ®tre/5      540
Paris/FÃ©dÃ©ration/10              540
Paris/Galvani/25                   540
Paris/Gambetta/1                   540
Paris/Gambetta/161                 540
Paris/Gambetta/19                  540
Paris/Gaston Tessier/8             540
Paris/Geoffroy-Saint-Hilaire/27    540
Paris/George V/44                  540
Paris/Georges Berger/2             540
Paris/Georges Lafenestre/11        540
Paris/Georges Mandel/1             540
Paris/Georges Mandel/42            540
Paris/Gerbert/11                   540
Paris/Goubet/8                     540
Paris/GouthiÃ¨re/12                540
Paris/Grande ArmÃ©e/40             540
Paris/Grange aux Belles/11         540
Paris/Grange aux Belles/47         540
Paris/Grenelle/139                 540
Paris/Grenelle/152                 540
Paris/Grenelle/37                  540
Paris/Guy Patin/10                 540
Paris/GuÃ©briant/6                 540
                                  ...
Paris/Paradis/28                   540
Paris/Parmentier/125               540
Paris/Parmentier/62                540
Paris/Pasteur/41                   540
Paris/Pastourelle/27               540
Paris/Paul Barruel/44              540
Paris/Paul Doumer/72               540
Paris/Paul Escudier/2              540
Paris/Philippe Auguste/126         540
Paris/Paul PainlevÃ©/7             540
Paris/Pereire/170                  540
Paris/Philippe Auguste/1           540
Paris/PerrÃ©e/18                   540
Paris/Pelleport/86                 540
Paris/Pernety/46                   540
Paris/Pereire/271                  540
Paris/Pereire/115                  540
Paris/Pelleport/105                540
Paris/Capitaine Ferber/5           480
Paris/Caulaincourt/17              480
Paris/Londres/6                    480
Paris/Sibour/2                     480
Paris/La Fayette/143               480
Paris/Faubourg-Saint-Martin/168    480
Paris/ChÃ¢teau Landon/52           480
Paris/Rocroy/15                    480
Paris/Gambetta/65                  420
Paris/Courcelles/210               360
Paris/Saint-HonorÃ©/91             300
Paris/Roquette/162                 180
Name: Public name, Length: 525, dtype: int64

In [18]:
# Q5

#  What postal code is the most popular for picking up Bluecars? Does the most popular station belong to that postal code?  Overall?

car_paris[(car_paris['Kind'] == 'STATION') & (car_paris['Status'] == 'ok')].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)

# from the dataframe 75015 == Paris/Houdart de Lamotte/2 therefore NO it doesn't

Postal code
75015    637312
75016    548113
75017    467670
75013    458811
75020    440355
75012    395502
75019    395182
75008    377440
75014    369782
75011    348671
75018    342748
75007    293208
75010    286654
75009    266197
75005    228160
75006    203527
75004    178206
75003    153023
75002    140365
75001    101700
75112     12760
75116     12760
Name: Postal code, dtype: int64

In [19]:
# Q6

#  What postal code is the most popular for picking up Bluecars? Does the most popular station belong to that postal code?

# At the most popular picking hour?

car_paris[(car_paris['Kind'] == 'STATION') & (car_paris['Status'] == 'ok') & (car_paris['hour'] == 4)].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)

Postal code
75015    27000
75016    23220
75017    19800
75013    19440
75020    18720
75012    16740
75019    16740
75008    15960
75014    15660
75011    14760
75018    14520
75007    12420
75010    12120
75009    11280
75005     9720
75006     8640
75004     7560
75003     6480
75002     5940
75001     4320
75112      540
75116      540
Name: Postal code, dtype: int64

## 1.6.2 Utilib counter

In [41]:
# Creating a new column where we find the difference in the number of Utilib at the station/counter

car_paris['Utilib_Diff'] = car_1['Utilib counter'].diff()
car_paris.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   Bluecar counter  Utilib counter  ...  Utilib_two_Diff  Utilib_Diff
0                3               1  ...              NaN          NaN
1                0               0  ...              0.0         -1.0
2                3               0  ...              0.0          0.0
3                4               0  ...              0.0          0.0
4                1               0  ...              0.0          0.0

[5 rows x 23 columns]

In [43]:
# Q11

# Identify the most popular hour of the day for picking up a shared electric car (Utilib) in the city of Paris over the month of April 2018

car_paris[car_paris['Utilib_Diff'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
5     19606
7     19381
8     19035
4     18933
3     18901
2     18780
6     18772
10    18256
21    17935
9     17793
11    17696
14    17533
22    17273
1     17203
13    17003
12    16837
0     16798
15    16649
23    16613
16    16587
20    16317
19    16012
17    15613
18    15055
Name: hour, dtype: int64

In [44]:
# Q22

# What is the most popular hour for returning cars?

car_paris[car_paris['Utilib_Diff'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
7     17364
10    17036
8     16987
6     16698
11    16553
5     16503
9     16301
4     16236
14    16125
13    15963
3     15825
2     15720
16    15689
15    15294
21    14997
12    14994
1     14540
22    14480
17    14419
0     14291
20    14255
19    14129
18    13489
23    13368
Name: hour, dtype: int64

In [30]:
# Q44

# What station is the most popular? At the most popular picking hour?
  
car_paris[(car_paris['Kind'] == 'STATION') & (car_paris['Status'] == 'ok') & (car_paris['hour'] == 5)].groupby('Public name')['Public name'].count().sort_values(ascending= False)

Public name
Paris/Ãvangile/45                 540
Paris/Henard/3                     540
Paris/Friedland/42                 540
Paris/Frigos/24                    540
Paris/Froidevaux/71                540
Paris/FrÃ©dÃ©ric LoliÃ©e/5         540
Paris/FrÃ©dÃ©rick LemaÃ®tre/5      540
Paris/FÃ©dÃ©ration/10              540
Paris/Galvani/25                   540
Paris/Gambetta/1                   540
Paris/Gambetta/161                 540
Paris/Gambetta/19                  540
Paris/Gaston Tessier/8             540
Paris/Geoffroy-Saint-Hilaire/27    540
Paris/George V/44                  540
Paris/Georges Berger/2             540
Paris/Georges Lafenestre/11        540
Paris/Georges Mandel/1             540
Paris/Georges Mandel/42            540
Paris/Gerbert/11                   540
Paris/Goubet/8                     540
Paris/GouthiÃ¨re/12                540
Paris/Grande ArmÃ©e/40             540
Paris/Grange aux Belles/11         540
Paris/Grange aux Belles/47         540
Paris/Grenelle/139                 540
Paris/Grenelle/152                 540
Paris/Grenelle/37                  540
Paris/Guy Patin/10                 540
Paris/GuÃ©briant/6                 540
                                  ...
Paris/Paradis/28                   540
Paris/Parmentier/125               540
Paris/Parmentier/62                540
Paris/Pasteur/41                   540
Paris/Pastourelle/27               540
Paris/Paul Barruel/44              540
Paris/Paul Doumer/72               540
Paris/Paul Escudier/2              540
Paris/Philippe Auguste/126         540
Paris/Paul PainlevÃ©/7             540
Paris/Pereire/170                  540
Paris/Philippe Auguste/1           540
Paris/PerrÃ©e/18                   540
Paris/Pelleport/86                 540
Paris/Pernety/46                   540
Paris/Pereire/271                  540
Paris/Pereire/115                  540
Paris/Pelleport/105                540
Paris/Capitaine Ferber/5           480
Paris/Caulaincourt/17              480
Paris/Londres/6                    480
Paris/Sibour/2                     480
Paris/La Fayette/143               480
Paris/Faubourg-Saint-Martin/168    480
Paris/ChÃ¢teau Landon/52           480
Paris/Rocroy/15                    480
Paris/Gambetta/65                  398
Paris/Courcelles/210               360
Paris/Saint-HonorÃ©/91             300
Paris/Roquette/162                 180
Name: Public name, Length: 525, dtype: int64

In [31]:
# Q66

#  What postal code is the most popular for picking up Utilib Counter? Does the most popular station belong to that postal code?

#the most popular picking hour?

car_paris[(car_paris['Kind'] == 'STATION') & (car_paris['Status'] == 'ok') & (car_paris['hour'] == 5)].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)

Postal code
75015    27000
75016    23220
75017    19800
75013    19440
75020    18698
75012    16740
75019    16740
75008    15960
75014    15660
75011    14760
75018    14520
75007    12420
75010    12120
75009    11280
75005     9720
75006     8640
75004     7560
75003     6480
75002     5940
75001     4320
75112      540
75116      540
Name: Postal code, dtype: int64

## 1.6.3 Utilib 1.4 counter

In [34]:
# Creating a new column where we find the difference in the number of Utilib 1.4 counter at the station/counter

# Utilib 1.4 diff is named as utilib_two_Diff

car_paris['Utilib_two_Diff'] = car_1['Utilib 1.4 counter'].diff()
car_paris.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

   Bluecar counter  Utilib counter  ...  Bluecar_Diff  Utilib_two_Diff
0                3               1  ...           NaN              NaN
1                0               0  ...          -3.0              0.0
2                3               0  ...           3.0              0.0
3                4               0  ...           1.0              0.0
4                1               0  ...          -3.0              0.0

[5 rows x 22 columns]

In [35]:
# Q111

# Identify the most popular hour of the day for picking up a shared electric car (Utilib 1.4 Counter) in the city of Paris over the month of April 2018

car_paris[car_paris['Utilib_two_Diff'] < 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
6     36246
5     35774
7     35238
10    34905
4     34773
8     34747
11    34466
9     34427
3     34234
2     33865
12    32982
13    32271
21    31942
14    31872
22    31828
16    31315
15    31272
17    30498
1     30281
20    29858
18    29535
0     29116
23    28681
19    28295
Name: hour, dtype: int64

In [37]:
# Q222

# What is the most popular hour for returning cars?

car_paris[car_paris['Utilib_two_Diff'] > 0].groupby('hour')['hour'].count().sort_values(ascending= False)

hour
6     32185
10    32006
7     32002
11    31845
21    31603
8     30892
9     30887
5     30819
4     30396
22    30196
3     30112
2     30067
12    29969
13    29940
14    29872
20    29678
17    29048
18    28873
16    28550
15    28297
19    28136
0     27486
23    27340
1     27160
Name: hour, dtype: int64

In [38]:
# Q444

# What station is the most popular? At the most popular picking hour?
  
car_paris[(car_paris['Kind'] == 'STATION') & (car_paris['Status'] == 'ok') & (car_paris['hour'] == 4)].groupby('Public name')['Public name'].count().sort_values(ascending= False)

Public name
Paris/Ãvangile/45                 540
Paris/Henard/3                     540
Paris/Friedland/42                 540
Paris/Frigos/24                    540
Paris/Froidevaux/71                540
Paris/FrÃ©dÃ©ric LoliÃ©e/5         540
Paris/FrÃ©dÃ©rick LemaÃ®tre/5      540
Paris/FÃ©dÃ©ration/10              540
Paris/Galvani/25                   540
Paris/Gambetta/1                   540
Paris/Gambetta/161                 540
Paris/Gambetta/19                  540
Paris/Gaston Tessier/8             540
Paris/Geoffroy-Saint-Hilaire/27    540
Paris/George V/44                  540
Paris/Georges Berger/2             540
Paris/Georges Lafenestre/11        540
Paris/Georges Mandel/1             540
Paris/Georges Mandel/42            540
Paris/Gerbert/11                   540
Paris/Goubet/8                     540
Paris/GouthiÃ¨re/12                540
Paris/Grande ArmÃ©e/40             540
Paris/Grange aux Belles/11         540
Paris/Grange aux Belles/47         540
Paris/Grenelle/139                 540
Paris/Grenelle/152                 540
Paris/Grenelle/37                  540
Paris/Guy Patin/10                 540
Paris/GuÃ©briant/6                 540
                                  ...
Paris/Paradis/28                   540
Paris/Parmentier/125               540
Paris/Parmentier/62                540
Paris/Pasteur/41                   540
Paris/Pastourelle/27               540
Paris/Paul Barruel/44              540
Paris/Paul Doumer/72               540
Paris/Paul Escudier/2              540
Paris/Philippe Auguste/126         540
Paris/Paul PainlevÃ©/7             540
Paris/Pereire/170                  540
Paris/Philippe Auguste/1           540
Paris/PerrÃ©e/18                   540
Paris/Pelleport/86                 540
Paris/Pernety/46                   540
Paris/Pereire/271                  540
Paris/Pereire/115                  540
Paris/Pelleport/105                540
Paris/Capitaine Ferber/5           480
Paris/Caulaincourt/17              480
Paris/Londres/6                    480
Paris/Sibour/2                     480
Paris/La Fayette/143               480
Paris/Faubourg-Saint-Martin/168    480
Paris/ChÃ¢teau Landon/52           480
Paris/Rocroy/15                    480
Paris/Gambetta/65                  420
Paris/Courcelles/210               360
Paris/Saint-HonorÃ©/91             300
Paris/Roquette/162                 180
Name: Public name, Length: 525, dtype: int64

In [39]:
# Q666

#  What postal code is the most popular for picking up Utilib 1.4 Counter? Does the most popular station belong to that postal code?

# At the most popular picking hour?

car_paris[(car_paris['Kind'] == 'STATION') & (car_paris['Status'] == 'ok') & (car_paris['hour'] == 4)].groupby('Postal code')['Postal code'].count().sort_values(ascending= False)

Postal code
75015    27000
75016    23220
75017    19800
75013    19440
75020    18720
75012    16740
75019    16740
75008    15960
75014    15660
75011    14760
75018    14520
75007    12420
75010    12120
75009    11280
75005     9720
75006     8640
75004     7560
75003     6480
75002     5940
75001     4320
75112      540
75116      540
Name: Postal code, dtype: int64